{
  "openapi": "3.1.0",
  "info": {
    "title": "StatCite API",
    "version": "1.11.0",
    "description": "Official economic statistics with full citations, built for AI agents. Every numeric response includes a citation object (source, dataset, series_id, source_url, license, attribution, retrieved_at, citation_text). Free, no auth, read-only. MCP endpoint at https://statcite.com/mcp.",
    "contact": {
      "email": "hello@statcite.com",
      "url": "https://statcite.com"
    },
    "license": {
      "name": "Service terms",
      "url": "https://statcite.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://statcite.com"
    }
  ],
  "paths": {
    "/v1": {
      "get": {
        "operationId": "apiIndex",
        "summary": "Endpoint index — service info and list of available /v1 routes",
        "responses": {
          "200": {
            "description": "Service info and endpoint list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/indicators": {
      "get": {
        "operationId": "listIndicators",
        "summary": "List the curated indicator registry (48 keys, 42 active)",
        "responses": {
          "200": {
            "description": "Registry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "indicators": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "unit": {
                            "type": "string"
                          },
                          "sources": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Serving order = fallback chain."
                          },
                          "active": {
                            "type": "boolean",
                            "description": "False for the six permanently-disabled FRED-reserved keys — they are recognized but always decline (added 1.4.2)."
                          },
                          "disabled_reason": {
                            "type": "string",
                            "description": "Present only when active is false: why the key declines and what to use instead."
                          },
                          "notes": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "key",
                          "label",
                          "unit",
                          "sources",
                          "active"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/indicator/{key}": {
      "get": {
        "operationId": "getIndicator",
        "summary": "Official values for an indicator + country, with citation",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registry key, e.g. inflation_cpi, gdp_growth, govt_debt_gdp"
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ISO3/ISO2 code or English name"
          },
          {
            "name": "start_year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "transform",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "yoy",
                "pct_change",
                "index"
              ]
            }
          },
          {
            "name": "latest_only",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "strict_source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Reproducibility mode: if the primary source fails, return an error instead of serving the fallback source. Fallback responses carry fallback_used: true and are served no-store."
          }
        ],
        "responses": {
          "200": {
            "description": "Series with citation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        }
      }
    },
    "/v1/series": {
      "get": {
        "operationId": "getSeries",
        "summary": "Raw series by explicit id (worldbank/…, imf/…, dbnomics/…; fred/… is recognized but always declines — FRED is disabled)",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "e.g. worldbank/NY.GDP.MKTP.KD.ZG, imf/NGDP_RPCH, dbnomics/IMF/WEO:latest/BRB.NGDP_RPCH.pcent_change"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Required for worldbank/* ids"
          },
          {
            "name": "start_year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "transform",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "yoy",
                "pct_change",
                "index"
              ]
            }
          },
          {
            "name": "strict_source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Reproducibility mode for registry-key ids: never substitute the fallback source. No effect on explicit source-prefixed ids."
          }
        ],
        "responses": {
          "200": {
            "description": "Series with citation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        }
      }
    },
    "/v1/search": {
      "get": {
        "operationId": "searchIndicators",
        "summary": "Search indicators and datasets by topic",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/snapshot/{country}": {
      "get": {
        "operationId": "countrySnapshot",
        "summary": "Headline indicators for a country, each with its own citation",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        }
      }
    },
    "/v1/verify": {
      "get": {
        "operationId": "verifyStat",
        "summary": "Verify a claimed figure against the official series",
        "description": "Returns verdict match | close | mismatch | cannot_verify with the official value, difference, diagnostics (wrong year, percent-vs-decimal, unit scaling), and the citation for the correct number.",
        "parameters": [
          {
            "name": "indicator",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registry key or explicit series id"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Usually a year, e.g. 2024"
          },
          {
            "name": "value",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "The claimed value"
          },
          {
            "name": "tolerance_abs",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "tolerance_pct",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "strict_source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Never verify against a fallback source — error instead. Without strict_source, a verify served from a transient-failure fallback returns cannot_verify (with the fallback value as indicative); a fallback for a series the primary permanently lacks is judged normally with disclosure."
          },
          {
            "name": "as_of",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Historical IMF-vintage verification: judge the claim against the dated IMF WEO edition resolved from this date (e.g. '2019-04', '2019') instead of today's live data. Resolution is a CONSERVATIVE month calendar (editions flip May 1 / Nov 1), not the IMF's exact release days — a date late in a release month resolves to the previous edition even if the new one already existed (the response says so, with an exact-pinning escape hatch via get_series dated ids). Always verifies against a dated WEO edition, even for indicators whose live primary is World Bank WDI or the IMF Fiscal Monitor — see as_of.source_changed_for_as_of. Recent editions serve from the IMF's own dated vintage dataflows (api.imf.org) first, with DBnomics's dated editions as the deep archive; the citation names which one served. Only supported for the six WEO-dated registry indicators (gdp_growth, current_account_gdp, govt_debt_gdp, fiscal_balance_gdp, govt_revenue_gdp, govt_expenditure_gdp); rejects with advice otherwise. Impossible calendar dates are rejected, never normalized."
          }
        ],
        "responses": {
          "200": {
            "description": "Verdict with citation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        }
      }
    },
    "/v1/verify_claims": {
      "post": {
        "operationId": "verifyClaims",
        "summary": "Verify a batch of claimed figures (fact-check a whole draft) — the API's only non-GET route",
        "description": "Extract every checkable macro claim from a draft (indicator + country + period + claimed value) and submit up to 15 together. Each claim gets the same verdict engine as /v1/verify; results return in input order with a verdict-count summary. A claim that cannot be resolved reports its error in place without failing the batch. The 15-claim cap reflects the free-tier upstream subrequest budget — split larger drafts into batches.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "claims"
                ],
                "properties": {
                  "claims": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 15,
                    "description": "The claims extracted from the draft, in the order they appear (max 15 per call).",
                    "items": {
                      "type": "object",
                      "required": [
                        "indicator",
                        "period",
                        "claimed_value"
                      ],
                      "properties": {
                        "indicator": {
                          "type": "string",
                          "description": "Registry key (inflation_cpi, gdp_growth, …) or explicit series id (worldbank/FP.CPI.TOTL.ZG, imf/NGDP_RPCH, dbnomics/…). fred/… ids are recognized but always decline — FRED is disabled."
                        },
                        "country": {
                          "type": "string",
                          "description": "ISO3/ISO2 code or English name; required for registry indicators / worldbank series"
                        },
                        "period": {
                          "type": "string",
                          "description": "Period of the claim, usually a year, e.g. 2024"
                        },
                        "claimed_value": {
                          "type": "number",
                          "description": "The value as claimed, in the series' own units"
                        },
                        "tolerance_abs": {
                          "type": "number",
                          "description": "Optional absolute tolerance in series units"
                        },
                        "tolerance_pct": {
                          "type": "number",
                          "description": "Optional relative tolerance in percent"
                        },
                        "revision_check": {
          "type": "object",
          "description": "Present on mismatch verdicts for indicators with a dated IMF WEO source: the claim re-judged against the PREVIOUS WEO edition. matches_previous_vintage=true means the figure was likely accurate when written and has since been revised - a revision event, not necessarily an author error. status 'unavailable' = the previous edition could not be retrieved; no judgment is offered.",
          "properties": {
            "status": { "type": "string", "enum": ["checked", "unavailable"] },
            "previous_edition": { "type": "string" },
            "previous_value": { "type": ["number", "null"] },
            "matches_previous_vintage": { "type": "boolean" },
            "next_edition_expected": { "type": "string", "description": "Calendar expectation ('October 2026'), not an announced date." },
            "note": { "type": "string" }
          }
        },
        "as_of": {
                          "type": "string",
                          "description": "Verify this claim against the IMF WEO/Fiscal Monitor edition current as of this date (e.g. '2019-04') instead of today's live data — only for the 6 WEO-dated registry indicators (served from the IMF's own vintage dataflows first, DBnomics dated editions as the deep archive)."
                        }
                      }
                    }
                  },
                  "strict_source": {
                    "type": "boolean",
                    "description": "Apply reproducibility mode to every claim in the batch: never verify against a fallback source — such claims error in place. Without it, a claim served from a transient-failure fallback returns cannot_verify with the fallback value as indicative."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch verification result: verdict-count summary plus per-claim results in input order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "match": {
                          "type": "integer"
                        },
                        "close": {
                          "type": "integer"
                        },
                        "mismatch": {
                          "type": "integer"
                        },
                        "cannot_verify": {
                          "type": "integer"
                        },
                        "error": {
                          "type": "integer"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "description": "One entry per claim, in input order. ok:true entries carry the full verification payload; ok:false entries carry a per-claim error message (errors never sink the rest of the batch).",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ok": {
                            "type": "boolean"
                          },
                          "claim": {
                            "type": "object"
                          },
                          "verification": {
                            "$ref": "#/components/schemas/VerifyResult"
                          },
                          "error": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "note": {
                      "type": "string",
                      "description": "Present when some claims were verified against IMF WEO/Fiscal Monitor projections rather than outturns"
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed — this endpoint accepts POST only; GET returns usage advice"
          },
          "415": {
            "description": "Unsupported media type — set content-type: application/json"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        }
      }
    },
    "/v1/inflation": {
      "get": {
        "operationId": "inflationAdjust",
        "summary": "Adjust an amount for inflation between two years (CPI ratio)",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "from_year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to_year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "USA"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Adjusted amount with method and citation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        }
      }
    },
    "/v1/fx": {
      "get": {
        "operationId": "fxConvert",
        "summary": "Convert currencies with official reference rates",
        "description": "ECB daily reference rates (~30 majors, since 1999) or World Bank official annual-average rates (~90 more currencies) via a USD bridge. The response states precision (daily | annual_average | mixed) and the exact method.",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ISO 4217, e.g. USD"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ISO 4217, e.g. BBD"
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "YYYY-MM-DD (daily) or YYYY (annual average); omit for latest"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion with citations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        }
      }
    },
    "/v1/sources": {
      "get": {
        "operationId": "listSources",
        "summary": "Data sources, licenses, and required attribution lines",
        "responses": {
          "200": {
            "description": "Sources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compare": {
      "get": {
        "operationId": "compareSources",
        "summary": "Compare one indicator across every official source in its chain (per-source values, citations, spread)",
        "parameters": [
          { "name": "indicator", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Registry key, e.g. govt_debt_gdp" },
          { "name": "country", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "period", "in": "query", "schema": { "type": "string" }, "description": "Optional year; default = latest period all responding sources share" }
        ],
        "responses": {
          "200": { "description": "Per-source values with citations and a spread; differences are methodological, never a source error", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/v1/status": {
      "get": {
        "operationId": "status",
        "summary": "Service status with live upstream probes (edge-cached ~120s)",
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "service": { "type": "string" },
                    "version": { "type": "string" },
                    "status": { "type": "string", "enum": ["ok", "degraded"] },
                    "upstreams": {
                      "type": "object",
                      "description": "Per-upstream probe results: ok flag and probe latency in ms.",
                      "additionalProperties": {
                        "type": "object",
                        "properties": { "ok": { "type": "boolean" }, "ms": { "type": "number" } }
                      }
                    },
                    "note": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "health",
        "summary": "Service health",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Citation": {
        "type": "object",
        "description": "Every numeric payload carries one of these. Reproduce citation_text when presenting the number.",
        "properties": {
          "source": {
            "type": "string"
          },
          "dataset": {
            "type": "string"
          },
          "series_id": {
            "type": "string"
          },
          "series_name": {
            "type": "string"
          },
          "source_url": {
            "type": "string"
          },
          "api_url": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "attribution": {
            "type": "string"
          },
          "retrieved_at": {
            "type": "string"
          },
          "citation_text": {
            "type": "string"
          },
          "notices": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SeriesResult": {
        "type": "object",
        "properties": {
          "series_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "country": {
            "type": "object",
            "properties": {
              "iso3": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "unit": {
            "type": "string"
          },
          "frequency": {
            "type": "string"
          },
          "observations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "period": {
                  "type": "string"
                },
                "value": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "note": {
                  "type": "string"
                }
              }
            }
          },
          "citation": {
            "$ref": "#/components/schemas/Citation"
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fallback_used": {
            "type": "boolean",
            "description": "Present and true when the primary source failed and a fallback source served this result — the value may reflect a different statistical definition. Absent on primary-source responses."
          },
          "fallback_reason": {
            "type": "string",
            "enum": [
              "transient",
              "definitive"
            ],
            "description": "Present only alongside fallback_used: 'transient' means the primary failed temporarily and may serve a different value for the same query once recovered (verify_stat demotes such verifies to cannot_verify); 'definitive' means the primary permanently lacks this series/country (e.g. Taiwan in WDI), so the fallback is that combination's stable serving source and verifies are judged normally with disclosure."
          }
        }
      },
      "VerifyResult": {
        "type": "object",
        "properties": {
          "verdict": {
            "type": "string",
            "enum": [
              "match",
              "close",
              "mismatch",
              "cannot_verify"
            ]
          },
          "claimed_value": {
            "type": "number"
          },
          "official_value": {
            "type": [
              "number",
              "null"
            ]
          },
          "is_projection": {
            "type": "boolean",
            "description": "True when the matched official observation is an IMF WEO/Fiscal Monitor estimate/projection, not a final outturn. Kept for compatibility; observation_status carries the finer-grained classification."
          },
          "observation_status": {
            "type": "string",
            "enum": [
              "actual",
              "modeled_estimate",
              "estimate_or_actual",
              "projection",
              "unknown"
            ],
            "description": "Honest status of the matched observation. 'actual': a series StatCite classifies as outturn data (registry World Bank indicators not flagged as modeled, explicit worldbank/ WDI ids), subject to routine revision. 'modeled_estimate' (added 1.4.1): the registry flags this indicator as a modeled series — e.g. the World Bank's ILO-modeled unemployment and labor-force-participation estimates — a published figure, but a model output, not a measured outturn. 'estimate_or_actual': IMF WEO/Fiscal Monitor observation before the projection boundary — the IMF's true latest-actual year varies by country and is not exposed by the data path, so recent values may be staff estimates; never read this as a confirmed actual. 'projection': at/after the heuristic boundary. 'unknown': no observation matched the period, or the series is an explicit id outside StatCite's classification (arbitrary DBnomics series can be forecast datasets — consult the source)."
          },
          "status_method": {
            "type": "string",
            "enum": [
              "horizon_heuristic",
              "as_published"
            ],
            "description": "How observation_status was determined: 'horizon_heuristic' for IMF WEO/Fiscal Monitor series (boundary derived from the response's own data — the payload's projection horizon on the DataMapper channel, the dataset-code vintage year on the DBnomics channel; a heuristic, not IMF per-country metadata); 'as_published' otherwise."
          },
          "period": {
            "type": "string"
          },
          "difference": {
            "type": [
              "number",
              "null"
            ]
          },
          "relative_difference_pct": {
            "type": [
              "number",
              "null"
            ]
          },
          "explanation": {
            "type": "string"
          },
          "diagnostics": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "series": {
            "type": "object"
          },
          "country": {
            "type": "object"
          },
          "citation": {
            "$ref": "#/components/schemas/Citation"
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fallback_used": {
            "type": "boolean",
            "description": "Present and true when the official value came from a fallback source because the primary failed. A transient primary failure demotes the verdict to cannot_verify with the fallback value reported as indicative (a substitute source can differ by definition or vintage far beyond the verdict bands, and the primary may recover and serve a different number); when the primary permanently lacks the series/country, the fallback is the stable serving source and the verdict is judged normally with disclosure. Absent otherwise."
          },
          "as_of": {
            "type": "object",
            "description": "Present when the as_of parameter was used: historical IMF-VINTAGE verification — the verdict was checked against a dated IMF WEO edition, not today's live data. Absent otherwise.",
            "properties": {
              "requested": {
                "type": "string",
                "description": "The as_of date as passed by the caller."
              },
              "resolved_vintage": {
                "type": "string",
                "description": "The IMF WEO edition (YYYY-MM) resolved from it."
              },
              "resolution": {
                "type": "string",
                "enum": [
                  "conservative_month_calendar"
                ],
                "description": "How the vintage was resolved: a conservative month calendar (editions flip May 1 / Nov 1), NOT the IMF's exact release days — a date late in a release month resolves to the previous edition even if the new one had already been published; a note discloses this for dates inside release months."
              },
              "verification_scope": {
                "type": "string",
                "enum": [
                  "imf_weo_historical_vintage"
                ],
                "description": "What was verified against: the IMF WEO historical archive, the only dated-vintage source this server has."
              },
              "normal_primary_source": {
                "type": "string",
                "description": "The source the live (non-as_of) path serves this indicator from first (e.g. 'World Bank WDI', 'IMF Fiscal Monitor (via the DataMapper API)')."
              },
              "source_changed_for_as_of": {
                "type": "boolean",
                "description": "True when the live primary differs from the WEO archive by source or IMF database — a claim originally made from the live primary can legitimately differ from the WEO edition for methodological reasons, not only because of revisions."
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Missing or invalid parameters"
      },
      "Unprocessable": {
        "description": "Request understood but not servable — the message includes suggestions (closest countries, available year ranges)"
      }
    }
  }
}
